body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.img-cont{
  background-image: url("./components/image/4.png");
  min-height: 838px;
  

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  /* Needed to position the navbar */
  position: relative;
}
.nav-item{
  color: #FFFFFF;
}

#airBnb-imageID{
  width: 2000px;
}

.centered{
  position: absolute;
  top: 165%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.centeredBtn{
  position: absolute;
  top: 180%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #FFFFFF;
}

.col-img-top{
  width: 340px;
  height: 240px;
}

#col-border{
  border:2px solid;
  width: 120px;
  text-align: center;
}